// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: red;
}
.social-btn {
  width: 200px;
  padding: 15px;
  border-radius: 5px;
  background-color: #4285F4;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  position: relative;
  line-height: 4;
}


.social-btn:hover {
  text-decoration: none;
  background-color: #696969;
  color: #fff;

}
